src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- Mule Development Kit Copyright 2010-2011 (c) MuleSoft, Inc. All rights 
	reserved. http://www.mulesoft.com Licensed under the Apache License, Version 
	2.0 (the "License"); you may not use this file except in compliance with 
	the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:dynamicflows="http://www.mulesoft.org/schema/mule/dynamicflows"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/dynamicflows http://www.mulesoft.org/schema/mule/dynamicflows/current/mule-dynamicflows.xsd">

    <!-- We define the transformer for test -->
    <custom-transformer name="testTransformer"
                        class="util.SomeResourceTransformer" />

    <!-- Initialize the Module -->
    <!--<dynamicflows:config />-->

    <!-- The add Flow -->
    <flow name="testAdd">
        <transformer ref="testTransformer" />
        <dynamicflows:add contextName="#[map-payload:contextName]">
            <dynamicflows:configs ref="#[map-payload:configs]" />
        </dynamicflows:add>
    </flow>

    <flow name="testDelete">
        <dynamicflows:remove contextName="testContext"/>
    </flow>

    <flow name="testRun">
        <dynamicflows:run contextName="testContext" flowName="echo1"/>
    </flow>
</mule>
